<div class="jumbotron">

	<h1 class="text-center">PocketPharma</h1>
	<h3 class="text-center">Поиск и бронирование лекарств в Москве</h2>

	<%= button_to "Поиск", root_path, class: "btn btn-large btn-primary center-block", method: :get %>
</div>