.form-inline {
  padding-bottom: 10px;
}

#logo {
   float:               left;
   margin-right:        10px;
   font-size:          1.7em;
   color:              white;
   letter-spacing:       1px;
   line-height:            1;
   &:hover {
     color:          #bbb;
     text-decoration:  none;
   }
}

